.forecastIndiv{
    border:1px solid #ccc;
    display:inline-block;
    color:#fff;
    height:100%;
}

.forecastInGrid{
    height:230px;
}

.forecastLarge{
    font-size:25px;
}

.forecastTable{
    background-color:#002366;
    color:#fff;
}
