.weather-header{
    width:100%;
    margin:auto;
    height:400px;
    display:flex;
}

.div-info{
    width:40%;
    display:block;
    margin:auto;
}

.weather-icon{
    margin-right:0px;
    padding-right:0px;
}

.weather-infp{
    font-size:20px;
    font-weight:600;
}

.background-blank{
    background-color:rgba(185,185,185,0.4);
}

.background-yellow{
    background-color:#eeaa00;
}

.background-green{
    background-color:#00aa00;
}